* {
    margin: 0;
    box-sizing: border-box;
}

.card-bg {
    background: linear-gradient(180deg, #032832 40%, #0d3e3f 100%) ;

}

.card-bg-second {
    background-color: #f0efe3;
}

body {
    /* background-color: #e8e6d7; */
    background-color: #F8F8F8;
    
}

#pipsection {
  scrollbar-width:thin;
  scrollbar-color: #acacac #a3a3a3;
}
