* {
    margin: 0;
    box-sizing: border-box;
}

.card-bg {
    background: linear-gradient(180deg, #011205 40%, #061909 100%) ;

}

.pip-bg {
    /* background: linear-gradient(0deg, #f7f5f5 60%, #e5eae6 100%); */
    background-color: #e5eae6;
    

}

.pip-bg:hover {
    background-color: #dce7dd;
    
}

.card-bg-second {
    background-color: #f0efe3;
}

body {
    /* background-color: #e8e6d7; */
    background-color: #f3f6f4;
    
}

#pipsection {
  scrollbar-width:thin;
  scrollbar-color: #acacac #a3a3a3;
}

